body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('../img//pattern.jpg');
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#container #card {
  background-color: white;
  padding: 5px;
}

#container #card #content {
  background-color: white;
  border: 1px solid gray;
  width: 90vh;
  padding: 10px;
}

#container #card #content #title h1 {
  text-align: center;
}

#container #card #content #data-peserta {
  margin-left: 40px;
}

h1 {
  text-align: center;
}

a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}

form {
  /* display: flex;
  flex-direction: row; */
}

#text {
  display: flex;
  flex-direction: row;
}

span {
  display: inline-block;
  width: 100px;
  margin-top: 20px;
}

#gender {
  display: inline-block;
}

.input-text {
  width: 250px;
}
